<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="javaVersion=11"/>
        <listEntry value="archetypeGroupId=ru.stqa.selenium"/>
        <listEntry value="archetypeArtifactId=webdriver-testng-archetype"/>
        <listEntry value="archetypeVersion=4.5"/>
        <listEntry value="groupId=Farmers"/>
        <listEntry value="artifactId=Farmers"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=Farmers.Farmers"/>
        <listEntry value="outputDirectory=D:\Prathamesh\Practice\New folder"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\PRATHA~1.SHI\AppData\Local\Temp\m2e-archetypeGenerator7860141195829792465"/>
</launchConfiguration>
